In [44]:
import pandas as pd

In [45]:
df = pd.read_csv("/home/albaro/Documentos/data/customers.csv")
df.head()

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
0,1,dE014d010c7ab0c,Andrew,Goodman,Stewart-Flynn,Rowlandberg,Macao,846-790-4623x4715,(422)787-2331x71127,marieyates@gomez-spencer.info,2021-07-26,http://www.shea.biz/
1,2,2B54172c8b65eC3,Alvin,NaN,"Terry, Proctor and Lawrence",Bethside,Papua New Guinea,124-597-8652x05682,321.441.0588x6218,alexandra86@mccoy.com,2021-06-24,http://www.pena-cole.com/
2,3,d794Dd48988d2ac,Jenna,Harding,Bailey Group,Moniquemouth,China,(335)987-3085x3780,NaN,justincurtis@pierce.org,2020-04-05,http://www.booth-reese.biz/
3,4,3b3Aa4aCc68f3Be,Fernando,Ford,Moss-Maxwell,Leeborough,Macao,(047)752-3122,048.779.5035x9122,adeleon@hubbard.org,2020-11-29,http://www.hebert.com/
4,5,D60df62ad2ae41E,Kara,Woods,Mccarthy-Kelley,Port Jacksonland,Nepal,+1-360-693-4419x19272,163-627-2565,jesus90@roberson.info,2022-04-22,http://merritt.com/

In [46]:
print(df.isnull().sum())

Index                 0
Customer Id          65
First Name           81
Last Name            65
Company              81
City                 59
Country              63
Phone 1              63
Phone 2              64
Email                81
Subscription Date    61
Website              78
dtype: int64

In [47]:
df.shape
# noNan= df.dropna()
# limpio = noNan.drop_duplicates(subset=['Customer Id'])
# limpio

(1300, 12)

In [57]:
sorted = df.sort_values("Customer Id")
agrup = sorted.groupby("Customer Id").apply(lambda x: x.ffill().bfill()).drop_duplicates(subset = ["Customer Id"])
# for x in agrup:
#     print(x)

/tmp/ipykernel_26335/1844445411.py:2: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  agrup = sorted.groupby("Customer Id").apply(lambda x: x.ffill().bfill()).drop_duplicates(subset = ["Customer Id"])
/tmp/ipykernel_26335/1844445411.py:2: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  agrup = sorted.groupby("Customer Id").apply(lambda x: x.ffill().bfill()).drop_duplicates(subset = ["Customer Id"])

In [55]:
agrup.isnull().sum()

Index                 0
Customer Id           0
First Name           43
Last Name            35
Company              40
City                 27
Country              37
Phone 1              40
Phone 2              37
Email                47
Subscription Date    28
Website              44
dtype: int64

In [61]:
agrup.dropna()
agrup.shape

(959, 12)